#countries{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 10px;
}
.country{
    border: 1px solid greenyellow;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    width: 40%;
    
}
.countryName{
    font-size: 45px;
    color: magenta;
}
